In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/outputs/tags-tags.csv')
df.head()

                         v1                    v2  weight
0                  .hack-gu  .hack-gu-last-recode       3
1                     0h-h1          achievements       2
2               1-bit-rogue                   ios       1
3  100-percent-orange-juice          achievements       1
4                100-rogues                   ios       1

In [5]:
df.weight.describe()

count    8776.000000
mean        3.676276
std        35.519611
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max      3043.000000
Name: weight, dtype: float64

In [8]:
df[df.weight>1].describe()

            weight
count  3042.000000
mean      8.720907
std      60.013240
min       2.000000
25%       2.000000
50%       3.000000
75%       6.000000
max    3043.000000

In [14]:
df[df.weight == df.weight.max()]

                      v1                      v2  weight
5781  minecraft-commands  minecraft-java-edition    3043

In [15]:
df[df.weight > 6]

                        v1                           v2  weight
60            achievements  assassins-creed-revelations       7
83            achievements                borderlands-2      19
100           achievements               civilization-5      21
136           achievements     deus-ex-human-revolution      18
138           achievements                     diablo-3     131
...                    ...                          ...     ...
8746             xbox-live                     xbox-one      70
8753                xcom-2     xcom-2-war-of-the-chosen      24
8755    xcom-enemy-unknown            xcom-enemy-within      89
8758     xcom-enemy-within                xcom-long-war       7
8772  zelda-oracle-of-ages      zelda-oracle-of-seasons       7

[688 rows x 3 columns]

In [11]:
df[df.v1 == 'minecraft-commands']

                      v1                             v2  weight
5777  minecraft-commands           minecraft-data-packs       7
5778  minecraft-commands    minecraft-education-edition       5
5779  minecraft-commands       minecraft-feed-the-beast       3
5780  minecraft-commands                minecraft-forge       1
5781  minecraft-commands         minecraft-java-edition    3043
5782  minecraft-commands  minecraft-java-edition-realms       2
5783  minecraft-commands  minecraft-java-edition-server      92
5784  minecraft-commands       minecraft-legacy-console       2
5785  minecraft-commands                 minecraft-mods      12
5786  minecraft-commands             minecraft-redstone      43
5787  minecraft-commands       minecraft-resource-packs       2
5788  minecraft-commands               minecraft-spigot       9
5789  minecraft-commands               minecraft-tekkit       1
5790  minecraft-commands            minecraft-worldedit       7
5791  minecraft-commands                           mods       4
5792  minecraft-commands                    performance       3
5793  minecraft-commands          server-administration       3
5794  minecraft-commands               technical-issues       3
5795  minecraft-commands                    terminology       1
5796  minecraft-commands                         ubuntu       1
5797  minecraft-commands                       xbox-one       1

# create networkx and save to file

Use a file format that is compatible with bith Gephi and networkx

- Networkx support [file formats](https://networkx.github.io/documentation/stable/reference/readwrite/index.html): 
    * Adjacency List
    * Multiline Adjacency List
    * Edge List
    * GEXF
    * GML
    * Pickle 
    * GraphML
    * JSON 
    * LEDA 
    * YAML
    * SparseGraph6
    * Pajek
    * GIS Shapefile


- Gephi supported [file formats](https://gephi.org/users/supported-graph-formats/): 
    * GEXF
    * GDF
    * GML
    * GraphML
    * Pajek NET
    * GraphViz DOT
    * CSV
    * UCINET DL
    * Tulip TPL
    * Netdraw VNA
    * Spreadsheet

chart below shows that GEXF has the highest feature compatiblity

![Features](https://gephi.org/images/graph-format-table-comparison.png)

In [2]:
import networkx as nx
from networkx.readwrite import gexf 
import pandas as pd
filename = 'data/outputs/tags-tags.csv'
df = pd.read_csv(filename)
weighted_edges = list(zip(df.v1, df.v2, df.weight))
G = nx.Graph()
G.add_weighted_edges_from(weighted_edges)
#print(f'number of edges {len(G.edges)}')
print(nx.info(G))

Name:
Type: Graph
Number of nodes: 2585
Number of edges: 8776
Average degree:   6.7899

In [3]:
gexf.write_gexf(G, 'data/outputs/tags-tags.gexf')