# explore users entity

In [64]:
import pandas as pd 
import matplotlib.pyplot as plt 

df = pd.read_csv('data/gaming/csv/users.csv')

In [65]:
df.describe()

,Reputation,UpVotes,AccountId,Views,DownVotes,Id
count,151956.000000,151956.000000,1.519510e+05,151956.000000,151956.000000,151956.000000
mean,100.777363,7.101187,6.817920e+06,13.666983,1.568744,135509.200538
std,1044.579527,110.888407,5.424170e+06,229.868547,177.716445,76289.003635
min,1.000000,0.000000,-1.000000e+00,0.000000,0.000000,-1.000000
25%,1.000000,0.000000,1.622855e+06,0.000000,0.000000,65187.750000
50%,7.000000,0.000000,5.954864e+06,0.000000,0.000000,149135.500000
75%,101.000000,0.000000,1.125014e+07,2.000000,0.000000,203204.250000
max,158549.000000,17967.000000,1.787745e+07,39044.000000,57278.000000,244787.000000

In [66]:
df.head()

,Reputation,LastAccessDate,ProfileImageUrl,CreationDate,UpVotes,AccountId,Views,DownVotes,WebsiteUrl,Location,Id,DisplayName
0,1,2010-07-07T15:15:00.177,NaN,2010-07-07T15:15:00.177,17967,-1.0,0,57278,http://meta.stackexchange.com/,on the server farm,-1,Community
1,101,2019-10-29T15:39:34.287,https://i.stack.imgur.com/nDllk.png,2010-07-07T16:01:11.480,20,2.0,171,1,http://stackoverflow.com,"Corvallis, OR",2,Geoff Dalgas
2,8238,2020-02-28T16:44:50.987,https://i.stack.imgur.com/NK9sV.jpg,2010-07-07T16:10:54.360,2342,32917.0,1230,21,NaN,"New York, NY, United States",3,David Fullerton
3,231,2019-07-09T03:13:10.080,NaN,2010-07-07T16:12:03.253,1,34933.0,95,3,NaN,"Palm Bay, FL",4,Robert Cartaino
4,545,2020-01-14T02:25:53.210,NaN,2010-07-07T16:12:06.123,208,21721.0,171,2,http://www.8164.org,"Raleigh, NC",5,Jin

In [67]:
df.DisplayName.nunique()

134196

In [74]:
df[df.DisplayName.str.lower().str.contains('arqad', na=False)]

,Reputation,LastAccessDate,ProfileImageUrl,CreationDate,UpVotes,AccountId,Views,DownVotes,WebsiteUrl,Location,Id,DisplayName
86851,1,2017-01-08T17:41:26.797,https://i.stack.imgur.com/NIm9o.png,2016-11-25T16:59:31.240,0,9722427.0,1,0,NaN,NaN,172409,Arqade Admin
113221,1,2018-01-23T14:05:54.287,https://lh3.googleusercontent.com/-nt1InPflykc...,2017-12-27T14:30:41.567,0,12571705.0,0,0,NaN,NaN,202451,Arqade1234321
114848,9,2018-01-22T15:12:27.747,https://lh5.googleusercontent.com/-XVCE5JPb8MU...,2018-01-22T14:41:49.020,0,12785823.0,6,0,NaN,NaN,204101,arqademasters

In [71]:
df.DisplayName.str.lower().str.contains('arqade').value_counts()

False    151947
True          3
Name: DisplayName, dtype: int64

In [72]:
df.DisplayName.str.lower().str.contains('arqade', na=False).value_counts()

False    151953
True          3
Name: DisplayName, dtype: int64