In [21]:
import os
import pandas as pd
import numpy as np
import tqdm

In [32]:
root = 'data/gaming/csv/'
filepaths = [os.path.join(root,f) for f in  os.listdir(root)]
# [os.path.basename(f) for f in os.listdir(root)]
datasets = [os.path.splitext(f)[0] for f in os.listdir(root)]




entities = {(os.path.splitext(f)[0]).lower(): {
    'name': os.path.splitext(f)[0], 
    'filepath': os.path.join(root,f)} 
    for f in os.listdir(root)}



int_cols = [
    'UserId', 'ParentId', 'AcceptedAnswerId', 'ViewCount', 'OwnerUserId',
     'LastEditorUserId', 'AnswerCount', 'CommentCount', 'FavoriteCount', 'CommentCount',  
     'ExcerptPostId', 'WikiPostId', 'AccountId']

dtypes = { col: pd.Int64Dtype() for col in int_cols}


for e in tqdm.tqdm(entities): 
    print()
    print(entities[e]['filepath'])
    df = pd.read_csv(entities[e]['filepath'], dtype=dtypes)
    entities[e]['columns'] = ', '.join(df.columns.values)
    entities[e]['df'] = df
    

# becuase this isnot a long list of entities, will convert to df for ease of access
df_entities = pd.DataFrame.from_dict(entities)



# for i,d in tqdm.tqdm(enumerate(datasets)):
#     print()
#     entities[d] = {'file': }
#     entities[d]['file'] = filepaths[i]
#     entities[d]['columns'] = ','.join(df.columns.values)
#     entities[d]['df'] = pd.read_csv(filepaths[i])

0%|          | 0/8 [00:00<?, ?it/s]
data/gaming/csv/Badges.csv
 12%|█▎        | 1/8 [00:00<00:06,  1.14it/s]
data/gaming/csv/Comments.csv
 25%|██▌       | 2/8 [00:01<00:04,  1.21it/s]
data/gaming/csv/PostHistory.csv
 38%|███▊      | 3/8 [00:03<00:05,  1.19s/it]
data/gaming/csv/PostLinks.csv

data/gaming/csv/Posts.csv
 62%|██████▎   | 5/8 [00:06<00:03,  1.20s/it]
data/gaming/csv/Tags.csv

data/gaming/csv/Users.csv
 88%|████████▊ | 7/8 [00:06<00:00,  1.04it/s]
data/gaming/csv/Votes.csv
100%|██████████| 8/8 [00:08<00:00,  1.06s/it]

In [33]:
print(entities.keys())

dict_keys(['badges', 'comments', 'posthistory', 'postlinks', 'posts', 'tags', 'users', 'votes'])

In [34]:
# describe all dfs


for e in entities.keys(): 
    print()
    print('Entity: ', e)
    print(entities[e]['columns'])
    print(entities[e]['df'].info())

Entity:  badges
Id, UserId, Name, Date, Class, TagBased
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373742 entries, 0 to 373741
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Id        373742 non-null  int64
 1   UserId    373742 non-null  Int64
 2   Name      373742 non-null  object
 3   Date      373742 non-null  object
 4   Class     373742 non-null  int64
 5   TagBased  373742 non-null  bool
dtypes: Int64(1), bool(1), int64(2), object(2)
memory usage: 15.0+ MB
None

Entity:  comments
Id, PostId, Score, CreationDate, UserId, UserDisplayName
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310619 entries, 0 to 310618
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               310619 non-null  int64
 1   PostId           310619 non-null  int64
 2   Score            310619 non-null  int64
 3   CreationDate     310619 non-null  object
 4   UserId           300179 non-null  Int64
 5   UserDisplayName  11092 non-null   object
dtypes: Int64(1), int64(3), object(2)
memory usage: 14.5+ MB
None

Entity:  posthistory
Id, PostHistoryTypeId, PostId, RevisionGUID, CreationDate, UserId, UserDisplayName
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739932 entries, 0 to 739931
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 739932 non-null  int64
 1   PostHistoryTypeId  739932 non-null  int64
 2   PostId             739932 non-null  int64
 3   RevisionGUID       739932 non-null  object
 4   CreationDate       739932 non-null  object
 5   UserId             668665 non-null  Int64
 6   UserDisplayName    20911 non-null   object
dtypes: Int64(1), int64(3), object(3)
memory usage: 40.2+ MB
None

Entity:  postlinks
Id, CreationDate, PostId, RelatedPostId, LinkTypeId
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30087 entries, 0 to 30086
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             30087 non-null  int64
 1   CreationDate   30087 non-null  object
 2   PostId         30087 non-null  int64
 3   RelatedPostId  30087 non-null  int64
 4   LinkTypeId     30087 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.1+ MB
None

Entity:  posts
Id, PostTypeId, ParentId, AcceptedAnswerId, CreationDate, Score, ViewCount, OwnerUserId, OwnerDisplayName, LastEditorUserId, LastEditorDisplayName, LastEditDate, LastActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, CommunityOwnedDate, ClosedDate
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246183 entries, 0 to 246182
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     246183 non-null  int64
 1   PostTypeId             246183 non-null  int64
 2   ParentId               148943 non-null  Int64
 3   AcceptedAnswerId       55630 non-null   Int64
 4   CreationDate           246183 non-null  object
 5   Score                  246183 non-null  int64
 6   ViewCount              89943 non-null   Int64
 7   OwnerUserId            241058 non-null  Int64
 8   OwnerDisplayName       6419 non-null    object
 9   LastEditorUserId       105723 non-null  Int64
 10  LastEditorDisplayName  6272 non-null    object
 11  LastEditDate           110401 non-null  object
 12  LastActivityDate       246183 non-null  object
 13  Title                  89943 non-null   object
 14  Tags                   89943 non-null   object
 15  AnswerCount            89943 non-null   Int64
 16  CommentCount           246183 non-null  Int64
 17  FavoriteCount          19040 non-null   Int64
 18  CommunityOwnedDate     608 non-null     object
 19  ClosedDate             6745 non-null    object
dtypes: Int64(8), int64(3), object(9)
memory usage: 39.4+ MB
None

Entity:  tags
Id, TagName, Count, ExcerptPostId, WikiPostId
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5334 entries, 0 to 5333
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5334 non-null   int64
 1   TagName        5334 non-null   object
 2   Count          5334 non-null   int64
 3   ExcerptPostId  2832 non-null   Int64
 4   WikiPostId     2832 non-null   Int64
dtypes: Int64(2), int64(2), object(1)
memory usage: 218.9+ KB
None

Entity:  users
Id, Reputation, CreationDate, DisplayName, LastAccessDate, WebsiteUrl, Location, Views, UpVotes, DownVotes, ProfileImageUrl, AccountId
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151956 entries, 0 to 151955
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               151956 non-null  int64
 1   Reputation       151956 non-null  int64
 2   CreationDate     151956 non-null  object
 3   DisplayName      151950 non-null  object
 4   LastAccessDate   151956 non-null  object
 5   WebsiteUrl       25814 non-null   object
 6   Location         43401 non-null   object
 7   Views            151956 non-null  int64
 8   UpVotes          151956 non-null  int64
 9   DownVotes        151956 non-null  int64
 10  ProfileImageUrl  88487 non-null   object
 11  AccountId        151951 non-null  Int64
dtypes: Int64(1), int64(5), object(6)
memory usage: 14.1+ MB
None

Entity:  votes
Id, PostId, VoteTypeId, UserId, CreationDate
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1559283 entries, 0 to 1559282
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1559283 non-null  int64
 1   PostId        1559283 non-null  int64
 2   VoteTypeId    1559283 non-null  int64
 3   UserId        32770 non-null    Int64
 4   CreationDate  1559283 non-null  object
dtypes: Int64(1), int64(3), object(1)
memory usage: 61.0+ MB
None

# Badges

In [38]:
df_entities.badges.df.head(10)

   Id  UserId            Name                     Date  Class  TagBased
0   1       2  Autobiographer  2010-07-07T19:08:45.087      3     False
1   2       5  Autobiographer  2010-07-07T19:08:45.087      3     False
2   3       6  Autobiographer  2010-07-07T19:08:45.087      3     False
3   4       7  Autobiographer  2010-07-07T19:08:45.087      3     False
4   5       9  Autobiographer  2010-07-07T19:08:45.087      3     False
5   6      11  Autobiographer  2010-07-07T19:08:45.087      3     False
6   7      12  Autobiographer  2010-07-07T19:08:45.087      3     False
7   8      13  Autobiographer  2010-07-07T19:08:45.087      3     False
8   9      14  Autobiographer  2010-07-07T19:08:45.087      3     False
9  10      15  Autobiographer  2010-07-07T19:08:45.087      3     False

In [39]:
# 3: bronze, 2: silver, 1: gold
df_entities.badges.df.Class.value_counts()

3    284175
2     73911
1     15656
Name: Class, dtype: int64

In [41]:
df_entities.badges.df.TagBased.value_counts()

False    373215
True        527
Name: TagBased, dtype: int64

# comments

In [42]:
df_entities.comments.df.head(10)

   Id  PostId  Score             CreationDate  UserId UserDisplayName
0   5      27      0  2010-07-07T19:21:48.067      58             NaN
1   6      29      4  2010-07-07T19:23:16.017      58             NaN
2  19      44      0  2010-07-07T19:33:15.247      10             NaN
3  21      44      0  2010-07-07T19:35:38.377      18             NaN
4  22      80      0  2010-07-07T19:36:07.907      35             NaN
5  23      80      0  2010-07-07T19:37:02.350      10             NaN
6  24      80      0  2010-07-07T19:37:36.450      13             NaN
7  27     114      2  2010-07-07T19:41:45.880      58             NaN
8  28      69      0  2010-07-07T19:41:55.740      72             NaN
9  30      80      0  2010-07-07T19:43:53.940      13             NaN

# Post History

In [47]:
df_entities.posthistory.df.head(10)

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,UserDisplayName
0,1,2,1,9ffede4f-eb02-4848-8304-b649589fdcf7,2010-07-07T19:06:25.043,11,NaN
1,2,1,1,9ffede4f-eb02-4848-8304-b649589fdcf7,2010-07-07T19:06:25.043,11,NaN
2,3,3,1,9ffede4f-eb02-4848-8304-b649589fdcf7,2010-07-07T19:06:25.043,11,NaN
3,4,2,2,38217c6c-2022-4bab-a7e2-161f88ffbf5b,2010-07-07T19:07:58.427,10,NaN
4,5,1,2,38217c6c-2022-4bab-a7e2-161f88ffbf5b,2010-07-07T19:07:58.427,10,NaN
5,6,3,2,38217c6c-2022-4bab-a7e2-161f88ffbf5b,2010-07-07T19:07:58.427,10,NaN
6,7,4,2,7be31870-1933-4070-8435-0a740da34812,2010-07-07T19:09:04.320,12,NaN
7,8,6,2,7be31870-1933-4070-8435-0a740da34812,2010-07-07T19:09:04.320,12,NaN
8,9,2,3,a8badc31-5241-4cc6-b5a8-4312774c8614,2010-07-07T19:09:46.317,14,NaN
9,10,1,3,a8badc31-5241-4cc6-b5a8-4312774c8614,2010-07-07T19:09:46.317,14,NaN

# Post Links

In [48]:
df_entities.postlinks.df.head(10)

    Id             CreationDate  PostId  RelatedPostId  LinkTypeId
0   23  2010-07-08T03:53:47.543      59             17           1
1   25  2010-07-08T03:53:47.577      89             17           1
2   26  2010-07-08T03:53:47.577      95             17           1
3   27  2010-07-08T03:53:47.590     106             17           1
4   34  2010-07-08T07:19:44.293     390            199           1
5   52  2010-07-08T14:16:11.960     221             12           1
6   53  2010-07-08T14:16:57.887     209             12           1
7   56  2010-07-08T15:07:58.840     798             69           1
8   72  2010-07-08T17:20:59.713      51             17           1
9  218  2010-07-08T21:07:20.873     992            984           1

In [49]:
# 1 - linked, 3, duplicate 
df_entities.postlinks.df.LinkTypeId.value_counts()

1    21038
3     9049
Name: LinkTypeId, dtype: int64

# Posts

In [50]:
df_entities.posts.df.head(10)

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,OwnerUserId,OwnerDisplayName,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,CommunityOwnedDate,ClosedDate
0,1,1,<NA>,26,2010-07-07T19:06:25.043,44,5194,11,NaN,15726,NaN,2012-01-05T17:14:15.763,2015-01-11T03:37:51.813,What%20is%20a%20good%20strategy%20to%20deal%20...,<team-fortress-2>,7,4,2,NaN,NaN
1,2,1,<NA>,184,2010-07-07T19:07:58.427,12,9989,10,NaN,68,NaN,2010-07-08T00:16:46.013,2017-12-09T23:39:22.607,What%20protoss%20unit%20can%20transport%20othe...,<starcraft-2><starcraft-protoss>,3,0,<NA>,NaN,NaN
2,3,1,<NA>,56,2010-07-07T19:09:46.317,16,3707,14,NaN,52800,user56,2013-10-23T11:12:37.397,2013-10-23T11:12:37.397,How%20can%20I%20run%20a%20dedicated%20server%2...,<steam><source-engine>,1,0,1,NaN,NaN
3,4,1,<NA>,14,2010-07-07T19:11:05.640,30,3589,17,NaN,8350,NaN,2011-08-13T12:41:33.467,2015-09-15T19:52:02.517,Do%20I%20have%20to%20learn%20all%20of%20the%20...,<the-secret-of-monkey-island>,4,4,1,NaN,NaN
4,6,1,<NA>,27,2010-07-07T19:13:20.177,13,5063,13,NaN,52800,NaN,2013-10-30T18:54:29.167,2014-05-07T15:42:02.310,How%20can%20I%20get%20Sam%20%26%20Max%20Hit%20...,<backwards-compatibility><windows-xp><sam-and-...,4,1,1,NaN,NaN
5,10,2,4,<NA>,2010-07-07T19:17:08.217,9,<NA>,19,NaN,<NA>,NaN,NaN,2010-07-07T19:17:08.217,NaN,NaN,<NA>,0,<NA>,NaN,NaN
6,14,2,4,<NA>,2010-07-07T19:17:59.323,18,<NA>,20,NaN,-1,NaN,2017-04-13T12:09:43.780,2015-01-17T08:09:56.863,NaN,NaN,<NA>,3,<NA>,NaN,NaN
7,18,1,<NA>,30,2010-07-07T19:18:36.310,28,2728,46,NaN,28182,NaN,2013-07-15T06:30:43.147,2015-12-16T23:38:18.237,Can%20I%20fix%20the%20Xbox%20360%20%E2%80%9CRe...,<xbox-360>,6,0,1,NaN,NaN
8,21,2,1,<NA>,2010-07-07T19:19:00.490,24,<NA>,27,NaN,<NA>,NaN,NaN,2010-07-07T19:19:00.490,NaN,NaN,<NA>,1,<NA>,NaN,NaN
9,22,2,4,<NA>,2010-07-07T19:19:02.173,2,<NA>,31,NaN,<NA>,NaN,NaN,2010-07-07T19:19:02.173,NaN,NaN,<NA>,0,<NA>,NaN,NaN

# Tags

In [51]:
df_entities.tags.df.head(10)

   Id                      TagName  Count  ExcerptPostId  WikiPostId
0   5                  starcraft-2   1573           6780        6680
1   9                        steam   2405           7340        6734
2  10                left-4-dead-2     74          17508       17507
3  13  the-secret-of-monkey-island      6         235818      235817
4  14                        flash      9          16617       16616
5  15                   windows-xp     19          16624       16623
6  26                     xbox-360   1425           6860        6684
7  28                  sam-and-max      4          32350       32349
8  36                 commodore-64     15          19452       19451
9  40            plants-vs-zombies     82          18371       18370

# Users

In [52]:
df_entities.users.df.head(10)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,-1,1,2010-07-07T15:15:00.177,Community,2010-07-07T15:15:00.177,http://meta.stackexchange.com/,on the server farm,0,17967,57278,NaN,-1
1,2,101,2010-07-07T16:01:11.480,Geoff Dalgas,2019-10-29T15:39:34.287,http://stackoverflow.com,"Corvallis, OR",171,20,1,https://i.stack.imgur.com/nDllk.png,2
2,3,8238,2010-07-07T16:10:54.360,David Fullerton,2020-02-28T16:44:50.987,NaN,"New York, NY, United States",1230,2342,21,https://i.stack.imgur.com/NK9sV.jpg,32917
3,4,231,2010-07-07T16:12:03.253,Robert Cartaino,2019-07-09T03:13:10.080,NaN,"Palm Bay, FL",95,1,3,NaN,34933
4,5,545,2010-07-07T16:12:06.123,Jin,2020-01-14T02:25:53.210,http://www.8164.org,"Raleigh, NC",171,208,2,NaN,21721
5,6,243,2010-07-07T16:21:27.147,Jarrod Dixon,2020-01-05T20:36:52.337,http://jarroddixon.com,"Raleigh, NC, United States",515,1145,2,NaN,3
6,7,2360,2010-07-07T16:41:37.153,Michael Pryor,2016-05-06T11:05:39.083,http://www.fogcreek.com,"New York, NY",241,97,3,NaN,198
7,8,1273,2010-07-07T16:44:51.640,Emmett,2018-05-03T18:48:42.393,http://minesweeperonline.com,"San Francisco, CA",141,58,1,https://i.stack.imgur.com/d1oHX.jpg?s=128&g=1,1998
8,9,894,2010-07-07T18:04:55.413,Kevin Montrose,2020-02-21T22:45:04.433,http://kevinmontrose.com/,"New York, NY, United States",109,608,5,NaN,29738
9,10,6974,2010-07-07T19:03:03.163,Ivo Flipse,2020-02-10T08:51:28.447,http://www.flipserd.com/blog,"Arnhem, Nederland",2381,5298,16,NaN,28900

In [53]:
df_entities.users.df.dtypes

Id                  int64
Reputation          int64
CreationDate       object
DisplayName        object
LastAccessDate     object
WebsiteUrl         object
Location           object
Views               int64
UpVotes             int64
DownVotes           int64
ProfileImageUrl    object
AccountId           Int64
dtype: object

# Votes

In [54]:
df_entities.votes.df.head(10)

   Id  PostId  VoteTypeId  UserId             CreationDate
0   1       3           2    <NA>  2010-07-07T00:00:00.000
1   2       4           2    <NA>  2010-07-07T00:00:00.000
2   3       3           2    <NA>  2010-07-07T00:00:00.000
3   4       8           2    <NA>  2010-07-07T00:00:00.000
4   5       5           2    <NA>  2010-07-07T00:00:00.000
5   6       7           2    <NA>  2010-07-07T00:00:00.000
6   7      13           2    <NA>  2010-07-07T00:00:00.000
7   8      15           2    <NA>  2010-07-07T00:00:00.000
8   9       9           2    <NA>  2010-07-07T00:00:00.000
9  10       6           2    <NA>  2010-07-07T00:00:00.000

In [55]:
df_entities.votes.df.UserId.value_counts().head(10)

28182     679
115506    386
88        382
15095     347
4797      297
143228    288
24398     251
4163      236
20185     188
127996    182
Name: UserId, dtype: Int64

In [57]:
df_entities.votes.df.UserId.isna().value_counts()

True     1526513
False      32770
Name: UserId, dtype: int64

https://meta.stackexchange.com/questions/157532/what-do-these-votetypeids-in-the-votetypes-table-mean

- Votetypeid 2: UpMod; equivalent to an upvote
- Votetypeid 3: DownMod; equivalent to a downvote
- Votetypeid 15: ModeratorReview; This refers to a moderator viewing the post after it's been flagged for moderator attention.
- Votetypeid 16: ApproveEditSuggestion; This refers to someone voting to approve a suggested edit. It might take more than one vote to approve an edit. (Most sites require 2 or 3... and moderator votes are binding, so only one of those is necessary.)

In [14]:
#https://meta.stackexchange.com/questions/157532/what-do-these-votetypeids-in-the-votetypes-table-mean


df_entities.votes.df.VoteTypeId.astype(int,

2     1079068
3      238380
10      73554
1       56891
15      33379
5       30813
16      30544
6        7874
12       2594
8        1957
9        1956
11       1187
4        1031
7          55
Name: VoteTypeId, dtype: int64