# parse xml

In [27]:
    attrib_keys = ['Id', 'UserId']
    ret_node_attribs_dict = {'Id': '1', 'UserId': '2'}
    xml = '<badges><row Id="1" UserId="2" Name="Autobiographer" Date="2010-07-07T19:08:45.757" Class="3" TagBased="False" /></badges>'
    from xml.etree import ElementTree as et
    root = et.fromstring(xml)

In [28]:
root.get('Id')

In [29]:
for i, n in enumerate(root): 
    print(i,n)

0 <Element 'row' at 0x0000024E59F65EF0>

In [30]:
root[0]

In [31]:
print(root.attrib)

{}

In [32]:
from helpers import *
node_attribs_dict = raw.parse_one_node(root[0], attrib_keys)

In [33]:
node_attribs_dict == ret_node_attribs_dict

True

In [34]:
ret_node_attribs_dict

{'Id': '1', 'UserId': '2'}

In [35]:
node_attribs_dict

{'Id': '1', 'UserId': '2'}

# get attribs from xml

In [36]:
attrib_keys = ['Id', 'UserId']
xml = '<badges>'\
    '<row Id="1" UserId="2" Name="Autobiographer" '\
    'Date="2010-07-07T19:08:45.757" Class="3" TagBased="False" />'\
    '<row Id="2" UserId="2" Name="User2" '\
    'Date="2010-07-08T20:00:15.000" Class="4" TagBased="True" />'\
    '</badges>'

from xml.etree import ElementTree as et
root = et.fromstring(xml)

from helpers import raw
ret = raw.parse_root(root, attrib_keys)

print(ret)

process 1 items
2
[{'Id': '1', 'UserId': '2'}, {'Id': '2', 'UserId': '2'}]

# csv module

In [3]:
import csv

In [4]:
csv.QUOTE_ALL

1

In [6]:
csv.QUOTE_MINIMAL

0

In [ ]:
text = ''

In [14]:
import urllib
rich_text_fields = {'Body','Title','AboutMe','Text','Comment'}
key = 'Text'
value = 'asdasd sa\n asdsasad \n\r asdjskladjsda \t \"asdsadsa\"'

In [16]:
if key in rich_text_fields:
    print('url encoding')
    value = urllib.parse.quote(value)
print(value)

url encoding
asdasd%20sa%0A%20asdsasad%20%0A%0D%20asdjskladjsda%20%09%20%22asdsadsa%22

In [19]:
v = urllib.parse.unquote(value)
print(v)

asdasd sa
 asdsasad
 asdjskladjsda 	 "asdsadsa"

# regex to unpack tags

In [11]:
import re

str1 = '<distributions><normality-assumption>'
pattern = '\<([^\>]*)\>'
tags1  = re.findall(pattern=pattern, string=str1)
tags2 = ','.join(re.findall(pattern=pattern, string=str1))

In [4]:
tags1

['distributions', 'normality-assumption']

In [8]:
','.join(e for e in tags1)

'distributions,normality-assumption'

In [12]:
tags2

'distributions,normality-assumption'

In [16]:
import pandas as pd
df = pd.DataFrame({'a': ['1'], 'b': ['<distributions><normality-assumption>']})

In [17]:
df

   a                                      b
0  1  <distributions><normality-assumption>

In [31]:
df['c'] = df['b'].apply(lambda b: ','.join(re.findall(pattern = pattern, string = str(b))))

In [32]:
df

,a,b,c
0,1,<distributions><normality-assumption>,"distributions,normality-assumption"

# pandas data range shift

In [54]:
import pandas as pd  

df = pd.DataFrame({'month':pd.date_range('20200101', periods=8, freq='M'),
'x': [1,2,3,3,2,5,4,3],
'y': [2,1,2,3,3,2,5,4]} )

df['month'] = df['month'].dt.strftime('%b')
print(df)

df['y'] =df.y.shift(periods=-2, fill_value=0)

print(df)

month  x  y
0   Jan  1  2
1   Feb  2  1
2   Mar  3  2
3   Apr  3  3
4   May  2  3
5   Jun  5  2
6   Jul  4  5
7   Aug  3  4
  month  x  y
0   Jan  1  2
1   Feb  2  3
2   Mar  3  3
3   Apr  3  2
4   May  2  5
5   Jun  5  4
6   Jul  4  0
7   Aug  3  0

# decompose datas et

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('3mj\decomposed_3mj.csv')

In [4]:
print(df1.query('iteration == 175'))

Unnamed: 0  average_degree  betweeness  edges  \
176         176        0.570439    0.000035  494.0

                              filename  iteration  no_connected_components  \
176  3mj/subgraph-175-game-center.gexf      175.0                    448.0

     nodes          tag
176  866.0  game-center